![S Legend](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTwIpP7v3ycNMnjghyjhgmuA91On6Ylqd3BA&s)

# Team S Legend

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
raw_data = pd.read_csv('Life Expectancy Data.csv')

In [4]:
raw_data.head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
0,Turkiye,Middle East,2015,11.1,13.0,105.8240,1.32,97,65,27.8,...,97,0.08,11006,78.53,4.9,4.8,7.8,0,1,76.5
1,Spain,European Union,2015,2.7,3.3,57.9025,10.35,97,94,26.0,...,97,0.09,25742,46.44,0.6,0.5,9.7,1,0,82.8
2,India,Asia,2007,51.5,67.9,201.0765,1.57,60,35,21.2,...,64,0.13,1076,1183.21,27.1,28.0,5.0,0,1,65.4
3,Guyana,South America,2006,32.8,40.5,222.1965,5.68,93,74,25.3,...,93,0.79,4146,0.75,5.7,5.5,7.9,0,1,67.0
4,Israel,Middle East,2012,3.4,4.3,57.9510,2.89,97,89,27.0,...,94,0.08,33995,7.91,1.2,1.1,12.8,1,0,81.7

In [16]:
raw_data.shape

(2864, 21)

In [5]:
raw_data.isnull().sum()

Country                        0
Region                         0
Year                           0
Infant_deaths                  0
Under_five_deaths              0
Adult_mortality                0
Alcohol_consumption            0
Hepatitis_B                    0
Measles                        0
BMI                            0
Polio                          0
Diphtheria                     0
Incidents_HIV                  0
GDP_per_capita                 0
Population_mln                 0
Thinness_ten_nineteen_years    0
Thinness_five_nine_years       0
Schooling                      0
Economy_status_Developed       0
Economy_status_Developing      0
Life_expectancy                0
dtype: int64

In [12]:
raw_data.dtypes

Country                         object
Region                          object
Year                             int64
Infant_deaths                  float64
Under_five_deaths              float64
Adult_mortality                float64
Alcohol_consumption            float64
Hepatitis_B                      int64
Measles                          int64
BMI                            float64
Polio                            int64
Diphtheria                       int64
Incidents_HIV                  float64
GDP_per_capita                   int64
Population_mln                 float64
Thinness_ten_nineteen_years    float64
Thinness_five_nine_years       float64
Schooling                      float64
Economy_status_Developed         int64
Economy_status_Developing        int64
Life_expectancy                float64
dtype: object

In [13]:
raw_data.Region = raw_data.Region.astype('category')

In [14]:
raw_data.Region.unique()

['Middle East', 'European Union', 'Asia', 'South America', 'Central America and Caribbean', 'Rest of Europe', 'Africa', 'Oceania', 'North America']
Categories (9, object): ['Africa', 'Asia', 'Central America and Caribbean', 'European Union', ..., 'North America', 'Oceania', 'Rest of Europe', 'South America']

In [40]:
raw_data.Country = raw_data.Country.astype('category')

In [41]:
raw_data=raw_data.sort_values(by=['Country', 'Year']).reset_index(drop=True)

In [42]:
raw_data.head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
0,Afghanistan,Asia,2000,90.5,129.2,310.8305,0.02,62,12,21.7,...,24,0.02,148,20.78,2.3,2.5,2.2,0,1,55.8
1,Afghanistan,Asia,2001,87.9,125.2,304.8580,0.02,63,13,21.8,...,33,0.02,163,21.61,2.1,2.4,2.2,0,1,56.3
2,Afghanistan,Asia,2002,85.3,121.1,298.8855,0.02,64,14,21.9,...,36,0.02,320,22.60,19.9,2.2,2.3,0,1,56.8
3,Afghanistan,Asia,2003,82.7,116.9,292.0365,0.02,65,15,22.0,...,41,0.02,332,23.68,19.7,19.9,2.4,0,1,57.3
4,Afghanistan,Asia,2004,80.0,112.6,285.1880,0.02,67,16,22.1,...,50,0.02,323,24.73,19.5,19.7,2.5,0,1,57.8

In [43]:
years_required = set(raw_data.Year)

missing_years_countries = raw_data.groupby('Country').filter(
    lambda x: set(x['Year']) != years_required
)['Country']

C:\Users\mpjau\AppData\Local\Temp\ipykernel_12580\3956474153.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  missing_years_countries = raw_data.groupby('Country').filter(

In [44]:
missing_years_countries

Series([], Name: Country, dtype: category
Categories (179, object): ['Afghanistan', 'Albania', 'Algeria', 'Angola', ..., 'Vietnam', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'])

SPLIT INTO TEST AND TRAIN

In [46]:
X = raw_data.drop(columns=['Life_expectancy'])
y = raw_data['Life_expectancy']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)