# Linear Regression

> Team Name: *S Legends*
> 
> Team Members: Myles, Tani, Arjan, Archie

## Train-Test Split

In [438]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

import statsmodels.api as sm
import statsmodels.tools

from statsmodels.stats.outliers_influence import variance_inflation_factor

In [5]:
df = pd.read_csv('Life Expectancy Data.csv')

df.head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
0,Turkiye,Middle East,2015,11.1,13.0,105.8240,1.32,97,65,27.8,...,97,0.08,11006,78.53,4.9,4.8,7.8,0,1,76.5
1,Spain,European Union,2015,2.7,3.3,57.9025,10.35,97,94,26.0,...,97,0.09,25742,46.44,0.6,0.5,9.7,1,0,82.8
2,India,Asia,2007,51.5,67.9,201.0765,1.57,60,35,21.2,...,64,0.13,1076,1183.21,27.1,28.0,5.0,0,1,65.4
3,Guyana,South America,2006,32.8,40.5,222.1965,5.68,93,74,25.3,...,93,0.79,4146,0.75,5.7,5.5,7.9,0,1,67.0
4,Israel,Middle East,2012,3.4,4.3,57.9510,2.89,97,89,27.0,...,94,0.08,33995,7.91,1.2,1.1,12.8,1,0,81.7

In [6]:
feature_cols = list(df.columns)
feature_cols.remove('Life_expectancy')

In [7]:
X = df[feature_cols]
y = df['Life_expectancy']

In [241]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

## Feature Engineering

In [244]:
X_train.head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,Polio,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing
2026,Sri Lanka,Asia,2014,7.9,9.3,111.2825,2.45,99,99,22.9,99,99,0.01,3694,20.78,15.2,15.0,10.9,0,1
651,Czechia,European Union,2004,3.7,4.6,114.2985,13.42,98,98,26.6,96,98,0.08,14070,10.20,2.1,2.2,11.6,1,0
2225,"Venezuela, RB",South America,2014,15.4,18.0,143.0785,6.60,78,83,26.6,79,78,0.40,16056,30.04,1.6,1.5,10.0,0,1
2357,Albania,Rest of Europe,2010,11.8,13.3,80.9365,4.88,99,98,26.1,99,99,0.03,3577,2.91,1.4,1.5,9.3,0,1
670,Namibia,Africa,2003,43.3,74.4,495.7265,2.29,83,64,23.2,82,79,9.74,3298,1.88,14.2,14.3,5.8,0,1

### Feature Enrichment (Combining Country and Year)

In [247]:
def c_y(df):
    df = df.copy()
    df.drop(columns = ['Country'], inplace = True)
    df = pd.get_dummies(df, columns = ['Region'], drop_first = True, prefix = 'Region', dtype=int)
    return df

**Get new column names from running the above on the training set**  
 (We created many new columns  The feature engineering adds a constant column for the linreg model.)

In [352]:
columns = list(ohe(X_train).columns)
columns.insert(0,'const')
columns

['const',
 'Year',
 'Infant_deaths',
 'Under_five_deaths',
 'Adult_mortality',
 'Alcohol_consumption',
 'Hepatitis_B',
 'Measles',
 'BMI',
 'Polio',
 'Diphtheria',
 'Incidents_HIV',
 'GDP_per_capita',
 'Population_mln',
 'Thinness_ten_nineteen_years',
 'Thinness_five_nine_years',
 'Schooling',
 'Economy_status_Developed',
 'Economy_status_Developing',
 'Region_Asia',
 'Region_Central America and Caribbean',
 'Region_European Union',
 'Region_Middle East',
 'Region_North America',
 'Region_Oceania',
 'Region_Rest of Europe',
 'Region_South America']

### Scaling

In [483]:
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

In [487]:
# Robust Scaler - Ignores Outliers

# Features for Robust Scaling:

rcolumns = columns.copy() # Get all columns from dataframe
regions = list(X_train.Region.unique()) # Get all regions
regions.remove('Africa')  # Removing Africa because it was removed to avoid multicollinearity when OHE
for region in regions:
    rcolumns.remove(f'Region_{region}')
rcolumns.remove('Year')
rcolumns.remove('const')
rcolumns.remove('Economy_status_Developed')
rcolumns.remove('Economy_status_Developing')
rcolumns.remove('Schooling')

def rscaling(df):
    for cols in rcolumns:
        r = RobustScaler()
        r.fit(df[[cols]])
        df[cols] = pd.DataFrame(r.transform(df[[cols]]), columns = [f'{cols}'])
    return df

In [822]:
# Min-Max Scaler - Preserves distribution

# Features for Min_Max Scaler:

mmcolumns = ['Year']

def mmscaling(df):
    for cols in mmcolumns:
        mm = MinMaxScaler()
        mm.fit(df[[cols]])
        df[cols]= pd.DataFrame(mm.transform(df[[cols]]), columns = [f'{cols}'])
    return df

In [491]:
# Standard Scaler - Good for normally distributed data

# Features for Standard Scaler:

zcolumns = ['Schooling']

def zscaling(df):
    for cols in zcolumns:  
        z = StandardScaler() 
        z.fit(df[[cols]]) 
        df[cols] = pd.DataFrame(z.transform(df[[cols]]), columns = [f'{cols}'])
    return df

### Feature Transformation

In [720]:
# Apply a exponential transform to features: GDP_per_capita and BMI

log_columns = ['GDP_per_capita','BMI']
def exp(df):
    df['exp_GDP'] = np.exp(df['GDP_per_capita'])
    df['exp_BMI'] = np.exp(df['BMI'])
    return df

In [722]:
def feature_eng(df):
        df = df.copy()
        df = ohe(df)
        df = rscaling(df)
        df = mmscaling(df)
        df = zscaling(df)
        df = exp(df)
        df = sm.add_constant(df) # CRUCIAL for statsmodels!!
        return df

In [818]:
X_train_fe = feature_eng(X_train)

In [820]:
X_train_fe.head()

,const,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,Polio,...,Region_Asia,Region_Central America and Caribbean,Region_European Union,Region_Middle East,Region_North America,Region_Oceania,Region_Rest of Europe,Region_South America,exp_GDP,exp_BMI
2026,1.0,0.733333,-0.273183,-0.227472,-0.375832,0.300305,0.333333,0.344828,0.40625,0.1250,...,1,0,0,0,0,0,0,0,2.355279,1.501178
651,1.0,1.000000,-0.020050,-0.017498,-0.131155,0.176829,0.222222,-0.379310,0.34375,0.0000,...,0,0,1,0,0,0,0,0,1.109324,1.410226
2225,1.0,0.000000,0.944862,0.811899,0.500793,-0.176829,0.388889,0.310345,-0.25000,0.3125,...,0,0,0,0,0,0,0,1,0.845649,0.778801
2357,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,NaN,NaN
670,1.0,0.666667,1.984962,2.129484,2.168119,-0.318598,-2.444444,-0.655172,-0.96875,-2.9375,...,0,0,0,0,0,0,0,0,0.726071,0.379557

In [726]:
# Scaling resulted in Null Values

X_train_fe.dropna(inplace=True)
X_train_fe.shape

(1841, 29)

In [728]:
# Join X_train_fe together with y_train so we can then remove the same rows in the target as we do in the features

train = pd.concat([X_train_fe, y_train], axis=1)

In [730]:
train.dropna(inplace=True)

In [732]:
y_train = train['Life_expectancy']

In [734]:
X_train_fe = train.drop(columns = 'Life_expectancy')

### Feature Selection (By Variation Inflation Factor Method)

In [737]:
from statsmodels.stats.outliers_influence import variance_inflation_factor # a module to evaluate the (VIF)

In [781]:
## This a piece of code from stats.stackexchange.com

## It runs the model with all the variables.
## If any of them have a higher VIF than 4, it drops the max. 
## Then it keeps going until none of them have a higher VIF than 5.
## This leaves us with a nice set of features with no collineraity

def calculate_vif(X, thresh = 8.0):
    variables = list(range(X.shape[1]))
    dropped = True
    while dropped:
        dropped = False
        # this bit uses list comprehension to gather all the VIF values of the different variables
        vif = [variance_inflation_factor(X.iloc[:, variables].values, ix)
               for ix in range(X.iloc[:, variables].shape[1])]
        
        maxloc = vif.index(max(vif)) # getting the index of the highest VIF value
        if max(vif) > thresh:
            print('dropping \'' + X.iloc[:, variables].columns[maxloc] +
                  '\' at index: ' + str(maxloc))
            del variables[maxloc] # we delete the highest VIF value on condition that it's higher than the threshold
            dropped = True # if we deleted anything, we set the 'dropped' value to True to stay in the while loop

    print('Remaining variables:')
    return list(X.columns[variables]) # finally, we print the variables that are still in our set

**Remember to exclude the constant column during the feature selection process, but to then use it when fitting the model.**

In [784]:
selected_features = list(calculate_vif(X_train_fe.iloc[:,1:]))
selected_features

dropping 'Under_five_deaths' at index: 2
dropping 'Economy_status_Developing' at index: 16
dropping 'Diphtheria' at index: 8
dropping 'Thinness_five_nine_years' at index: 12
dropping 'Infant_deaths' at index: 1
Remaining variables:

['Year',
 'Adult_mortality',
 'Alcohol_consumption',
 'Hepatitis_B',
 'Measles',
 'BMI',
 'Polio',
 'Incidents_HIV',
 'GDP_per_capita',
 'Population_mln',
 'Thinness_ten_nineteen_years',
 'Schooling',
 'Economy_status_Developed',
 'Region_Asia',
 'Region_Central America and Caribbean',
 'Region_European Union',
 'Region_Middle East',
 'Region_North America',
 'Region_Oceania',
 'Region_Rest of Europe',
 'Region_South America',
 'exp_GDP',
 'exp_BMI']

### Feature Selection based on linear relationship to the target

In [816]:
corr_features = [col for col in train.columns if abs(train.corr()['Life_expectancy'][col]) >= 0.15]
corr_features

['Economy_status_Developed',
 'Economy_status_Developing',
 'Region_European Union',
 'Region_Middle East',
 'Region_Rest of Europe',
 'Life_expectancy']

### **Taking features that satisfy both VIF and Correlation theshold**

In [808]:
final_features = [feature for feature in corr_features if feature in selected_features]
final_features

['Adult_mortality',
 'GDP_per_capita',
 'Economy_status_Developed',
 'Region_Central America and Caribbean',
 'Region_European Union',
 'Region_Middle East',
 'Region_North America',
 'Region_Oceania',
 'Region_Rest of Europe',
 'Region_South America',
 'exp_GDP']

## Test on Train

**Check that indices line up between X and y**

In [792]:
# Sanity check 1: Check that all record lengths match
print(f'Same number of records in Train: {X_train_fe.shape[0] == y_train.shape[0]}')
print(f'Same number of records in Test: {X_test.shape[0] == y_test.shape[0]}')

print('~'*50)
# Sanity check 2: Check that all indices match
print(f'Same indices in X_train and y_train: {all(X_train_fe.index == y_train.index)}')
print(f'Same indices in X_test and y_test: {all(X_test.index == y_test.index)}')

Same number of records in Train: True
Same number of records in Test: True
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Same indices in X_train and y_train: True
Same indices in X_test and y_test: True

### Fit the Linear Regression Model

**Re-add the Constant column for the lin reg model**

In [810]:
final_features.insert(0,'const')

In [812]:
lin_reg = sm.OLS(y_train, X_train_fe[final_features])
results = lin_reg.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        Life_expectancy   R-squared:                       0.535
Model:                            OLS   Adj. R-squared:                  0.532
Method:                 Least Squares   F-statistic:                     191.4
Date:                Sun, 13 Jul 2025   Prob (F-statistic):          1.32e-294
Time:                        14:39:30   Log-Likelihood:                -6044.0
No. Observations:                1841   AIC:                         1.211e+04
Df Residuals:                    1829   BIC:                         1.218e+04
Df Model:                          11
Covariance Type:            nonrobust
========================================================================================================
                                           coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
const                                   61.6147      0.255    241.836      0.000      61.115      62.114
Adult_mortality                          0.1639      0.219      0.748      0.455      -0.266       0.594
GDP_per_capita                          -0.0483      0.133     -0.363      0.717      -0.309       0.213
Economy_status_Developed                10.4720      0.779     13.434      0.000       8.943      12.001
Region_Central America and Caribbean    11.1093      0.537     20.678      0.000      10.056      12.163
Region_European Union                    5.7615      0.894      6.442      0.000       4.008       7.515
Region_Middle East                      11.6104      0.609     19.067      0.000      10.416      12.805
Region_North America                     9.2967      1.319      7.050      0.000       6.711      11.883
Region_Oceania                           5.9998      0.670      8.952      0.000       4.685       7.314
Region_Rest of Europe                   10.1687      0.580     17.530      0.000       9.031      11.306
Region_South America                    10.9684      0.622     17.639      0.000       9.749      12.188
exp_GDP                                 -0.0005      0.000     -1.426      0.154      -0.001       0.000
==============================================================================
Omnibus:                       23.007   Durbin-Watson:                   1.962
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               32.884
Skew:                          -0.133   Prob(JB):                     7.23e-08
Kurtosis:                       3.598   Cond. No.                     4.98e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.98e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

### Find RMSE of the model on training set

In [803]:
y_pred = results.predict(X_train_fe[final_features])

rmse = statsmodels.tools.eval_measures.rmse(y_train, y_pred)

print(rmse)

5.382585530756047

## Test on the Test Set

In [599]:
## We apply feature_eng to the X_test set! 
## This is why having a nice neat function is very nice! 
X_test_fe = feature_eng(X_test)

## Now we predict using the X_test_fe set!
## We don't "fit" the model again! 
## We want to see test results that are similar to the training results!

In [603]:
y_test_pred = results.predict(X_test_fe[final_features])
rmse = statsmodels.tools.eval_measures.rmse(y_test, y_test_pred)
print(rmse)

nan